/* src/styles/telegram-theme.css */
:root {
  --tg-theme-bg-color: #ffffff;
  --tg-theme-text-color: #000000;
  --tg-theme-hint-color: #999999;
  --tg-theme-link-color: #2481cc;
  --tg-theme-button-color: #3390ec;
  --tg-theme-button-text-color: #ffffff;
}

.app {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.app.dark {
  /* Дополнительные стили для темной темы */
}
